header{
    margin-bottom: 40px;
}
h1{
    font-size: 38px;
    white-space: nowrap;
}
p{

margin-top: 15px;


}
input {
border-radius: 10px;
}




.duck{

    margin-left: 0px;
}



// conteudoPage // 


//Header Text Effect//
.titulo-principal{
    margin-top: 20px;
      text-align: center;
      font-size:x-large;
     
  }
  .titulo-principal:after{
   content: '|';
   margin-left: 5px;
   opacity: 1;
   animation: pisca .7s infinite;
  }
  /* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */
  
  @keyframes pisca{
      0%, 100%{
          opacity: 1;
      }
      50%{
          opacity: 0;
      }
  }
  
  //End Header Text Effect//

  //Hover Button Conteudo Page//
 .pagina2 {
     
  
    margin-top: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px !important;
    
        }
   .pagina2:hover{
      
     background-color: #000000;
    color: #FFFF00;
    
   }     
  
//End Hover Button Conteudo Page//

//Button ConteudoPage// 
button{
    background-color: #FFFF00;
    margin-top: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    
   
}
//End Button ConteudoPage//

//FormacaoPage//

.formacao, a{
    font-family:'Barlow', sans-serif;
    font-size:x-large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    }

.headerformacao{
    padding-bottom: 1px;
}

.corpopagina2{
    margin-top: -50px;
}

//Text Effect//
.blink {
    font-family:'Barlow', sans-serif;
    font-size:x-large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  //END Text Effect//


  //Portfolio Page//

  .carousel-inner{
    box-shadow: 1px 1px black;
    border-radius: 5%;
   
  }

  .rabbit{
      padding-top: 10px;
  }
