h1{
    font-size: 38px;
    white-space: nowrap;
}
p{

margin-top: 15px;


}
input {
border-radius: 10px;
}




.duck{

    margin-left: 0px;
}




button{
    background-color: #FFFF00;
    margin-top: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
   
}