@media(max-width:575px){
article{
    .img-fluid {
   margin-top: -10px !important;
   justify-content: center !important;
}
}
.box2{
    width: 150% !important;
  margin-inline: 50px !important;  
  .gerador{
      padding-left: 50px !important;
  }
.senha{
    padding-left: 50px !important;
}
.botaosenha{
    padding-left: 50px !important;
}

}

.rabbit{

    margin-left: 30px !important;
}


}
@media(max-width:767px){
    article{
       
       .duck{
        justify-content: center !important;     
        width: 80%;
 
        .img-fluid {
       margin-top: -10px !important;
       
    }
    }
}
    .box2{
       .Welcome{
           margin-inline: 40px !important;
        }
        width: 100%;
        margin-inline: 20px !important;  
      
    }
    
    .rabbit{
        
        
    }
    
    
    }
    
@media(max-width:991px){
   
   
    .duck{
        justify-content: center !important;     
        width: 80%;
 
        .img-fluid {
       margin-top: -10px !important;
       
    }
    }

    .box2{
         
       padding-left: 20px !important;
       .Welcome{
           margin-inline: 30px !important;
        }
        width: 100%;
        margin-inline: 20px;  
      
    }
    
    .rabbit{
    
        
    }
    
    
    
}
 
@media(max-width:1199px){
   
    
   
   
   
    .duck{
       
 
        .img-fluid {
     
       
    }
    }

    .box2
    {
        padding-left: 160px;
       .Welcome h1{
       
       padding-left: 35px !important;
    }
    
   .gerador p{
       white-space: nowrap;
   }



}




    .rabbit{
    
        
    }
    
} 

@media(max-width:2000px){
    .duck{
       
 
        .img-fluid {
     
       
    }
    }

    .box2
    {
        padding-left: 160px;
       .Welcome h1{
       
       padding-left: 70px;
    }
    
   .gerador p{
       white-space: nowrap;
   }



}




    .rabbit{
    
        
    }
    
} 
    

 