


@media(max-width:992px){
    .accordion-button {
 
      
         font-size: 13px !important;
      
    }
}



@media(max-width:768px){
    .accordion-button {
 
      
         font-size: 15px !important;
      
    }
}

@media(max-width:576px){
    .accordion-button {
 
         
         font-size: 12px !important;
      
    }

    .tituloexperiencia{
        font-size: 30px !important;
        padding-left: 40px;
    }

    .itens{
        padding-left: 40px;
    }

}
