@media(max-width:1200px){

    .carousel-item{
        font-size: 13px !important;
    }

}

@media(max-width:992px){

    .carousel-item{
        font-size: 9px !important;
    }

}




@media(max-width:768px){

    .carousel-item{
        font-size: 10px !important;
    }

}








@media(max-width:575px){

    .carousel-item{
        font-size: 8px !important;
    }
    .minha{
        padding-left:  40px ;
    }

    .tituloportfolio{
        padding-left:  40px ;
        font-size: 30px;
    }
}